<section>
  <h1>Question page 1</h1>
  <form action="/survey" method="POST">
    <fieldset>
      <label>
        <span>Vraag 1</span>
        <input type="text" name="question1" placeholder="someplaceholder">
      </label>
    </fieldset>
    <fieldset>
      <input type="hidden" name="topage" value="2">
      <input type="submit" value="Naar volgende vraag">
    </fieldset>
  </form>
</section>
