<section>
  <h1><%= participant %> wat vond je van begeleiding van de docenten</h1>
  <form action="/survey" method="POST" name="survey">
    <fieldset>
      <legend>Wat vind je van de begeleiding tijdens progressive web apps</legend>
      <label>

        <% if(data.support === "slecht") { %>
          <input type="radio" name="support" value="slecht" checked required>
        <% } else if(data.support !== "slecht") { %>
          <input type="radio" name="support" value="slecht" required>
        <% } %>
        <span>Slecht</span>

      </label>
      <label>

        <% if(data.support === "middelmatig") { %>
          <input type="radio" name="support" value="middelmatig" checked required>
        <% } else if(data.support !== "middelmatig") { %>
          <input type="radio" name="support" value="middelmatig" required>
        <% } %>
        <span>Middelmatig</span>

      </label>
      <label>

        <% if(data.support === "goed") { %>
          <input type="radio" name="support" value="goed" checked required>
        <% } else if(data.support !== "goed") { %>
          <input type="radio" name="support" value="goed" required>
        <% } %>
        <span>Goed</span>

      </label>

    </fieldset>
    <fieldset>

      <legend>Wat vind je van het tempo tijdens progressive web apps</legend>
      <label>
        <% if(data["course-pace"]=== "te sloom") { %>
          <input type="radio" name="course-pace" value="te sloom" checked required>
        <% } else if(data["course-pace"] !== "te sloom") { %>
          <input type="radio" name="course-pace" value="te sloom" required>
        <% } %>
        <span>Te sloom</span>
      </label>

      <label>
        <% if(data["course-pace"]=== "goed te volgen") { %>
          <input type="radio" name="course-pace" value="goed te volgen" checked required>
        <% } else if(data["course-pace"] !== "goed te volgen") { %>
          <input type="radio" name="course-pace" value="goed te volgen" required>
        <% } %>
        <span>Goed te volgen</span>
      </label>

      <label>
        <% if(data["course-pace"]=== "te snel") { %>
          <input type="radio" name="course-pace" value="te snel" checked required>
        <% } else if(data["course-pace"] !== "goed te volgen") { %>
          <input type="radio" name="course-pace" value="te snel" required>
        <% } %>
        <span>Te snel</span>
      </label>

    </fieldset>
    <fieldset>

      <legend>Welk cijfer geef je aan de progressive web apps course?</legend>
      <label>
        <span>Rating van 1 tot 10</span>
        <% if(data.rating) { %>
          <input type="range" name="rating" value="<%= data.rating %>" min="0" max="10">
        <% } else if(data["course-pace"] !== "goed te volgen") { %>
          <input type="range" id="vol" name="rating" min="0" max="10">
        <% } %>
      </label>

    </fieldset>
    <fieldset>

      <legend>Wat vond je van de course?</legend>
      <label>
        <span>Maximaal aantal characters 150</span>
        <% if(data.message) { %>
          <textarea name="message" placeholder="Max aantal characters: 150" maxlength="150" value="<%= data.message %>" required></textarea>
        <% } else { %>
          <textarea name="message" placeholder="Max aantal characters: 150" maxlength="150" required></textarea>
        <% } %>
      </label>

    </fieldset>
    <fieldset>
      <input type="hidden" name="identifier" value="<%= identifier %>">
      <input type="hidden" name="page" value="3">
      <input type="submit" value="Naar volgende vraag">
    </fieldset>
  </form>
</section>
