<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <section>
    <h1>Minor enquete</h1>
    <nav>
      <ul>
        <li><a href="/new-survey">Nieuwe enquete starten</a></li>
        <li><a href="/continue-survey">Verder gaan</a></li>
      </ul>
    </nav>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
